﻿@using Newtonsoft.Json
@model IList<List<string>>

@{
    ViewBag.Title = "Map Clusters";
    Layout = null;
    var guid = Guid.NewGuid();
}

<h2>Map (Clusters)</h2>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current',
        {
            'packages': ['geochart'],
            // Note: you will need to get a mapsApiKey for your project.
            // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
            'mapsApiKey': 'AIzaSyCowdUUjZXZfe7FmkwTY2zz7h44kartt1I'
        });
    google.charts.setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() {
        var elements = @Html.Raw(JsonConvert.SerializeObject(Model, Formatting.None));
        var array = elements.map(function(item) {
            return [item[0], parseInt(item[2]), 'Cluster #' + item[2] + "\nPopulation:" + item[1]];
        });

        var data = google.visualization.arrayToDataTable([
            ['Country', 'Value', { role: 'tooltip', p: { html: true } }]
        ].concat(array));

        var options = {
            colors: ['#0000FF', '#FF0000', '#CDD8D9', '#00FF00', '#020D1B'],
            tooltip: {
                isHtml: true
            }
        };

        var chart = new google.visualization.GeoChart(document.getElementById('@guid'));

        chart.draw(data, options);
    }
</script>

<div id="@guid" style="height: 500px; width: 900px;"></div>