﻿@using Newtonsoft.Json
@model IList<List<string>>

@{
    ViewBag.Title = "Pie Chart";
    Layout = null;
    var guid = Guid.NewGuid();
}

<h2>Pie Chart</h2>

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

        var elements = @Html.Raw(JsonConvert.SerializeObject(Model, Formatting.None));
        var array = elements.map(function(item) {
            return [item[0], parseInt(item[1])];
        });

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Country Name');
        data.addColumn('number', 'Number of People');
        data.addRows(array);

        // Set chart options
        var options = {
            'title': 'How much people immigrate',
            'width': 400,
            'height': 300
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('@guid'));
        chart.draw(data, options);
    }
</script>

<!--Div that will hold the pie chart-->
<div id="@guid"></div>