﻿@using Newtonsoft.Json
@model IList<List<string>>

@{
    ViewBag.Title = "Tree Map";
    Layout = null;
    var guid = Guid.NewGuid();
}

<h2>Tree Map (Clusters)</h2>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['treemap'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var elements = @Html.Raw(JsonConvert.SerializeObject(Model, Formatting.None));

        var tempClusterNames = {};

        var array = elements.map(function(item) {
            tempClusterNames['Cluster ' + item[2]] = 0;
            return [item[0], 'Cluster ' + item[2], parseInt(item[1]), parseInt(item[1]) * parseInt(item[2])];
        });

        var additional = [['Global', null, 0, 0]];

        Object.keys(tempClusterNames).forEach(function(item) {
            additional.push([item, 'Global', 0, 0]);
        });

        var data = google.visualization.arrayToDataTable(
            [['Location', 'Parent', 'size', 'color']].concat(additional, array));

        var tree = new google.visualization.TreeMap(document.getElementById('@guid'));

        tree.draw(data,
            {
                minColor: '#f00',
                midColor: '#ddd',
                maxColor: '#0d0',
                headerHeight: 15,
                fontColor: 'black',
                showScale: true
            });

    }

</script>

<div id="@guid" style="height: 500px; width: 900px;"></div>