﻿@using Newtonsoft.Json
@model IbnFadlan.Models.TrendLineViewModel

@{
    ViewBag.Title = "Trend Line";
    Layout = null;
    var guid = Guid.NewGuid();
}

<h2>Trend Line</h2>

<div class="sm-padding-bottom">
    <div class="wrapper-graph-line">
        <canvas id="@guid" width="600" height="250"></canvas>
    </div>
</div>

<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script type="text/javascript">
    var from = @Html.Raw(JsonConvert.SerializeObject(Model.From, Formatting.None));
    var to = @Html.Raw(JsonConvert.SerializeObject(Model.To, Formatting.None));
    
    var ChartVisits = new Chart(document.getElementById('@guid'), {
        type: 'line',
        data: {
            labels: @Html.Raw(JsonConvert.SerializeObject(Model.Years, Formatting.None)),
            datasets: [{
                label: "From",
                borderColor: 'rgba(23, 86, 110, 1)',
                backgroundColor: 'rgba(23, 86, 110, 1)',
                data: from,
                fill: false,
            }, {
                label: "To",
                borderColor: 'rgba(49, 172, 219, 1)',
                backgroundColor: 'rgba(49, 172, 219, 1)',
                data: to,
                fill: false,
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            title: {
                display:true,
                text: '@Model.CountryName',
                fontStyle: "normal",
                fontColor: "#333"
            },
            hover: {
                mode: 'index'
            },
            scales: {
                yAxes: [
                    {
                        ticks: {
                            userCallback: function(value, index, values) {
                                // Convert the number to a false string and splite the string every 3 charaters from the end
                                value = value.toString();
                                value = value.split(/(?=(?:...)*$)/);

                                // Convert the array to a false string and format the output
                                value = value.join(' ');
                                return value;
                            },
                            callback: function(value, index, values) {
                                return value.toExponential();
                            }
                        }
                    }
                ],
                xAxes: [
                    {
                        ticks: {
                            fontColor: "#333",
                            fontSize: "10"
                        }
                    }
                ]
            }
        }
    });
</script>