﻿@model IbnFadlan.Controllers.ChartSetViewModel
@{
    ViewBag.Title = Model.Direction.ToString("G");
}

<p>
    @Html.Action("Index", "Home")
</p>

<div class="row">
    <div class="col-md-4">
        <h2>Immigration @Model.Direction.ToString("G") @Model.Country @(Model.Year.HasValue ? string.Format("in {0} year", Model.Year) : "")</h2>
        <p>
            @Html.Action("PieChart", "Statistic", new { country = Model.Country, direction = Model.Direction, year = Model.Year })
        </p>
        <p>
            @Html.Action("Map", "Statistic", new { country = Model.Country, direction = Model.Direction, year = Model.Year })
        </p>
        <p>
            @Html.Action("MapClusters", "Statistic", new { country = Model.Country, direction = Model.Direction, year = Model.Year })
        </p>
        <p>
            @Html.Action("TreeMap", "Statistic", new { country = Model.Country, direction = Model.Direction, year = Model.Year })
        </p>
        <p>
            @Html.Action("TrendLine", "Statistic", new { country = Model.Country })
        </p>
    </div>
</div>
