﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <form action="/Home/Charts" method="get">
            <div class="item">
                <label>Country</label>
                <select name="country">
                    <option value="Belarus">Belarus</option>
                    <option value="Poland">Poland</option>
                    <option value="Russian Federation">Russian Federation</option>
                    <option value="Ukraine">Ukraine</option>
                    <option value="Republic of Moldova">Republic of Moldova</option>
                    <option value="Latvia">Latvia</option>
                    <option value="Lithuania">Lithuania</option>
                    <option value="Estonia">Estonia</option>
                    <option value="Germany">Germany</option>
                    <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                    <option value="France">France</option>
                    <option value="Switzerland">Switzerland</option>
                </select> 
            </div>
            <div class="item">
                <label>Direction</label>
                <select name="direction">
                    <option value="0">From</option>
                    <option value="1">To</option>
                </select> 
            </div>
            <div class="item">
                <label>Year</label>
                <select name="year">
                    <option value="null">-</option>
                    <option value="1990">1990</option>
                    <option value="1995">1995</option>
                    <option value="2000">2000</option>
                    <option value="2005">2005</option>
                    <option value="2010">2010</option>
                    <option value="2015">2015</option>
                    <option value="2017">2017</option>
                </select> 
            </div>
            <input type="submit" value="Show" />
        </form>
    </div>
</div>