﻿@using IbnFadlan.Business.Services.Enums
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h1>Examples</h1>
        <p>
            @Html.Action("TrendLine", "Statistic", new { country = "Belarus"})
        </p>
        <p>
            @Html.Action("TrendLine", "Statistic", new { country = "Poland" })
        </p>
        <p>
            @Html.Action("TrendLine", "Statistic", new { country = "Russia" })
        </p>
        <p>
            @Html.Action("TrendLine", "Statistic", new { country = "Ukraine" })
        </p>
        <p>
            @Html.Action("TrendLine", "Statistic", new { country = "Moldova" })
        </p>
        <p>
            @Html.Action("TrendLine", "Statistic", new { country = "Latvia" })
        </p>
        <p>
            @Html.Action("TrendLine", "Statistic", new { country = "Lithuania" })
        </p>
        <p>
            @Html.Action("TrendLine", "Statistic", new { country = "Estonia" })
        </p>
        <p>
            @Html.Action("TrendLine", "Statistic", new { country = "Germany" })
        </p>
        <p>
            @Html.Action("TrendLine", "Statistic", new { country = "France" })
        </p>
        <p>
            @Html.Action("TrendLine", "Statistic", new { country = "Syria" })
        </p>
        <p>
            @Html.Action("TrendLine", "Statistic", new { country = "Switzerland" })
        </p>
    </div>
</div>